*{
    margin: 0;
    padding: 0;
    
}

body{
    background-image: url('img/backg.png');
    background-repeat: no-repeat;
    background-size: cover;
}



canvas{
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('img/fundo2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;
    border: solid, 5px, white;
}
 